---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    size === "sm" ? "my-1 underline-offset-4" : "mx-1 my-3 underline-offset-8",
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "text-md relative pr-2 underline decoration-dashed group-hover:-top-0.5 group-hover:text-accent focus-visible:p-1",
      { "text-sm": size === "sm" },
    ]}
  >
    <IconHash
      class:list={[
        "inline-block",
        { "-mr-2.5 size-5": size === "sm" },
        { "-mr-2.5 size-6": size === "lg" },
      ]}
    />
    &nbsp;<span class:list={["inline-block", { "text-base": size === "sm" }]}
      >{tagName}</span
    >
  </a>
</li>
